* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.navbar a {
  color: whitesmoke;
}

.navbar-toggler {
  color: white;
}

.navbar-toggler-icon {
  color: white;
  filter: brightness(500);
}

.card {
  max-width: 800px;
  background: transparent;
  /* border-width: 0px; */
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-radius: 20px;
  /* border-style: none; */
}

.card:hover {
  background-color: rgb(250, 243, 235);
  box-shadow: 10%;
}


.card-img {
  border-radius: 40px;
  border-width: 20px;
  border-color: aliceblue;
}