* {
  font-family: 'Times New Roman', Times, serif
}

.navbar a {
  color: whitesmoke;
}

.navbar-toggler {
  color: white;
}

.navbar-toggler-icon {
  color: white;
  filter: brightness(500);
}

.hero {
  background-image: url("./assets/hero-img.webp");
  height: 220px;
}

.heading {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.card {
  max-width: 500px;
  background: transparent;
  /* border-width: 0px; */
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px;
  border-style: none;
}

.card:hover {
  background-color: rgb(250, 243, 235);
  box-shadow: 10%;
}

.card-img {
  border-radius: 0px;
  border-width: 20px;
  border-color: aliceblue;
}

.article-img {
  max-width: 1000px;
}

.article-text {
  max-width: 1000px;
}

.article-link {
  color: black;
  text-decoration: none;

}

.btn {
  max-width: 200px;
}